name: CI

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      matrix:
        settings:
          - host: macos-latest
          - host: windows-latest
          - host: ubuntu-latest

    name: Build on ${{ matrix.settings.host }}
    runs-on: ${{ matrix.settings.host }}

    steps:
      - uses: actions/checkout@v3
      - name: Build
        run: cargo build --all-features

  test:
    needs:
      - build

    strategy:
      matrix:
        settings:
          - host: macos-latest
          - host: windows-latest
          - host: ubuntu-latest

    name: Test on ${{ matrix.settings.host }}
    runs-on: ${{ matrix.settings.host }}

    steps:
      - uses: actions/checkout@v3
      - name: Test
        run: cargo test --verbose

  lint:
    needs:
      - build
      - test

    name: Lint
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Install dependencies
      run: |
        rustup component add rustfmt
        rustup component add clippy
        rustfmt --version
    - name: Formatting lint
      run: rustfmt ./src/lib.rs --check
    - name: Semantic lint
      run: cargo clippy

  code-cov:
    needs:
    - build
    - test

    name: Code Coverage
    runs-on: ubuntu-latest
    container:
      image: xd009642/tarpaulin:develop
      options: --security-opt seccomp=unconfined
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Generate code coverage
        run: |
          cargo tarpaulin --verbose --all-features --workspace --timeout 120 --out xml

      - name: Upload to codecov.io
        uses: codecov/codecov-action@v4
        with:
          token: ${{secrets.CODECOV_TOKEN}}
          fail_ci_if_error: true

  code-scan:
    needs:
    - build
    - test

    name: Code Scan
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Perform Scan
      uses: ShiftLeftSecurity/scan-action@master
      env:
        WORKSPACE: ""
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SCAN_AUTO_BUILD: true
      with:
        output: reports
    - name: Upload report
      uses: github/codeql-action/upload-sarif@v2
      with:
        sarif_file: reports
